:root {
  --primary-color: #10375c;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}

/* =================================common================================= */

.content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: #c9d2da;
}

.btn {
  display: inline-block;
  color: #fff;
  height: 60px;
  min-width: 205px;
  padding: 15px 10px;
  border-radius: 30px;
  background: #2e80ce;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 166.667%;
}

.btn:hover {
  opacity: 0.8;
}

/* =================================header==================================== */

.header {
  padding: 22px 0 110px;
  background-color: var(--primary-color);
}

.nav {
  padding: 8px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__navbar {
  display: flex;
  margin-left: 100px;
}

.nav__item {
  padding: 8px 21px;
  color: #c9d2da;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 175%;
}

.nav__item--active {
  color: #fff;
  text-shadow: 0.5px 0 0 currentColor;
}

.nav__item--active::before {
  position: relative;
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  left: -8px;
  top: -2px;
  background-color: #fff;
}

.nav__item:hover {
  color: #fff;
  text-shadow: 0.5px 0 0 currentColor;
}

.nav__cta-login {
  padding: 8px 28px;
  color: #c9d2da;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 175%;
}

.nav__cta-signup {
  height: 44px;
  border-radius: 22px;
  min-width: 104px;
  padding: 8px 12px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 175%;
}

/* hero */

.hero {
  padding-top: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__left {
  width: 44%;
}

.hero__title {
  color: #fff;
  font-size: 7rem;
  font-weight: 600;
  line-height: 114.286%;
  letter-spacing: -1.4px;
}

.hero__desc {
  margin-top: 22px;
  width: 90%;
  color: #c9d2da;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 166.667%;
}

.hero__cta {
  margin-top: 38px;
}

.hero__cta__callphone {
  padding: 12px 38px;
}

.hero__right {
  border-radius: 7px;
  width: 46%;
  position: relative;
}

.hero__image {
  position: relative;
  border-radius: 6px;
  z-index: 1;
  width: 330px;
  height: 540px;
  object-fit: cover;
}

.hero__image-small {
  border-radius: 6px;
  position: absolute;
  z-index: 0;
  margin-left: -6px;
  margin-top: 65px;
  width: 210px;
  height: 410px;
  object-fit: cover;
}

/* ====================================================MAIN================================= */

/* service */

.service {
  margin-top: 100px;
  padding: 70px 0;
}

.section-title {
  color: #10375c;
  text-align: center;
  font-size: 5rem;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -1px;
}

.section-desc {
  margin-left: auto;
  margin-right: auto;
  margin-top: 18px;
  width: 40%;
  color: #575f66;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 166.667%;
}

.service-row {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.service__list {
  width: 40%;
}

.service__image {
  width: 570px;
  height: 570px;
  object-fit: cover;
  border-radius: 12px;
}

.service-item {
  display: flex;
  padding: 20px;
  border-radius: 10px;
  color: #10375c;
}

.service-item__icon {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  background-color: #eff6fd;
}

.service-item__body {
  margin-left: 19px;
}

.service-item__sub-title {
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: normal;
}

.service-item__desc {
  width: 308px;
  margin-top: 8px;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 175%;
}

.service-item:hover {
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.service-item:hover .service-item__icon {
  color: #fff;
  background-color: #2e80ce;
}

.service__cta {
  margin-top: 55px;
}

/* === work ===== */

.work {
  padding: 35px 0 100px;
  background-color: #f6fbff;
}

.work__title {
  margin-top: 65px;
  text-align: left;
}

.work__desc {
  text-align: left;
  margin-left: 0;
}

.work__list {
  margin-top: 86px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 30px;
}

.work__item {
  padding: 43px;
  border: 16px solid #eaf6ff;
  width: 32%;
  border-radius: 4px;
}

.work__item__title {
  margin-top: 18px;
  color: #10375c;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 138.462%;
}

.work__item__desc {
  margin-top: 28px;
  width: 90%;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 175%;
}

.work__item__more {
  display: inline-block;
  margin-top: 18px;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 175%;
}

.work__item:hover {
  border-color: #2e80ce;
}

.work__item__more:hover {
  color: #2e80ce;
  cursor: pointer;
}

/* ===============================about=============================== */

.about-us {
  padding-top: 100px;
}

.about {
  padding: 70px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about__left {
  display: flex;
}

.about__image {
  width: 512px;
  height: 370px;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.07);
}

.about__image-small {
  margin: 121px 0 0 -274px;
  border-radius: 6px;
  width: 332px;
  height: 370px;
  object-fit: cover;
}

.about__right {
  width: 470px;
  margin-left: 130px;
}

.about__title {
  text-align: left;
}

.about__desc {
  width: 90%;
  text-align: left;
  margin-left: 0;
}

.about__cta {
  margin-top: 38px;
}

/* =========================doctors======================= */

.doctors {
  padding-top: 30px;
}

.doctors__title {
  margin-top: 70px;
}

.doctors__cta {
  display: flex;
  justify-content: center;
  margin-top: 38px;
}

.dortors__list {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0 30px;
}

.doctors__avatar {
  width: 270px;
  height: 318px;
  object-fit: cover;
  border-radius: 6px;
  background-color: #eaf6ff;
}

.doctors__name {
  margin-top: 12px;
  display: block;
  color: #10375c;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 175%;
}

.doctors__position {
  display: block;
  color: #575f66;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 185.714%;
}
